---
import { Image } from "astro:assets";
import Services from "@components/indexComp/Services.astro";
import CEOImage from "@assets/images/ceo.png";
import Pattern from "@assets/images/Pattern.png";
---

<section class="hero full-bleed">
  <div class="hero-content">
    <Image class="pattern" src={Pattern} alt="pattern" />
    <h1>Empowering Your Business Growth</h1>
    <p>
      Discover tailored strategies and expert insights to take your business to
      the next level. Let us help you navigate challenges and achieve
      sustainable success.
    </p>
    <a href="#0">Book a Meeting</a>
  </div>

  <Image class="img" src={CEOImage} alt="CEO" />

</section>
<Services />


<style>

  /* Styles her */
  @layer components {

    .hero {
      min-height: 500px;
      background-color: var(--black);
      color: var(--white);
      display: grid;
      grid-template-columns: minmax(1rem, 1fr) [content-start] minmax(0,calc(var(--content-width)/2)) [img-start] minmax(0,calc(var(--content-width)/2)) [content-end] 1fr [img-end];
      @media (width < 560px) {
        height: 800px;
        display: flex;
        flex-flow: column-reverse;
        gap: 3rem;
        padding-bottom: 2rem;
      }
      p {
        color: var(--white);
      }

       .img {
        grid-column: img;
          align-self: stretch;
          width: 100%;
          object-fit: cover;
        }
      
      .hero-content {
        grid-column: 2;
        margin: auto 0;
        width: fit-content;
        padding-left: 50% - var(--content-width) / 2;
        align-content: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-right: 2rem;

        .pattern {
          position: absolute;
          left: 0;
          z-index: 0;
          @media (width < 1570px) {
            left: -5%;
          }
          @media (width < 1430px) {
            display: none;
          }
        }
        h1 {
          z-index: 1;
        }
        p {
          z-index: 1;
        }
        a {
          height: fit-content;
          width: fit-content;
          text-decoration: none;
          padding: 16px 31px;
          border-radius: 100px;
          font-size: var(--step-0);
          font-weight: 600;
          color: var(--black);
          background-color: var(--white);
          transition: background-color 0.2s ease-in;
          z-index: 1;
        }
        a:hover {
          background-color: var(--yellow);
        }
        @media (width < 560px) {
          padding-inline: 1rem;
          a {
            margin-top: 5rem;
          }
        }
      }
    }

  }
</style>
