---
import cardContent from "@data/financialProjections.json";

// import your icons
import Cal from "@icons/cal.svg";
import Card from "@icons/card.svg";
import Law from "@icons/law.svg";
import Money from "@icons/money.svg";

// create a mapping object
const icons = {
  Cal,
  Card,
  Law,
  Money,
};
---

<ul class="full-width scroll-container" id="scrollBox">
  {
    cardContent.values.map((card) => {
      const Icon = icons[card.icon];
      return (
        <li>
          <Icon class="img" /> 
          <h3>{card.title}</h3>
          <p>{card.description}</p>
        </li>
      );
    })
  }
</ul>

<style>
  ul {
    list-style: none;
    display: flex;
    gap: 2rem;
  }

  li {
    width: 377px;
    height: fit-content;
    background-color: #EBEBEB;
    border-radius: var(--border-radius);
    padding: 30px;
  }

  .img {
    margin-bottom: 1rem;
    width: auto;
    height: auto;
  }
</style>
